@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}*/
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
}
section::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f2f5f5);
}
section::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg, #9c27b0, #f2f5f5);
}
.master-card {
    border: 1px solid;
    border-radius: 5%;
    padding: 12px;
}
.card-main .number-text{
    size: 5px;
}
